ClientExample/Connected Services/ServerSample/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerExample.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerExample.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContractDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContractDto" nillable="true" type="tns:ContractDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractDto" nillable="true" type="tns:ArrayOfContractDto" />
  <xs:complexType name="ContractDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActual" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractDto" nillable="true" type="tns:ContractDto" />
</xs:schema>